
body {
    background-color: aliceblue;
    background-image: url(oscar-soderlund-Cs8ZKuw4VWw-unsplash.jpg);
    border-radius: 20%;
}

header {
    background-color: rgb(202, 218, 233);
    text-align: center;
    padding: 0;
    padding-bottom: 2em;
}

.btn {
    display: inline-block;
    padding: 2.5px;
    width: 20px;
    height: 20px;
    background: #f1f1f1;
    margin: 5px;
    border-radius: 30%;
    color: black;
    overflow: hidden;
    position: relative;
}

@media (any-hover: hover) {
    .btn:hover {
      background: slategrey;
    }
}

img {
    display: flex;
    padding: 1em;
    margin-top: .5em;
    margin-left: 2em;
    margin-right: auto;
    border-radius: 15%;
    border-style: groove;
}

.designation {
    margin-left: 60rem;
    margin-right: 0;
}

.cover {
    position:absolute;
    height: 200px;
    width: 200px;
    display: flex;
}

.click-vb {
    margin-left: 2em;
    height: 150px;
    width: 150px;
}

.column {
    float: left;
    padding: 10px;
    height: 500px;
}

.left, .right {
    width: 50%;
    background-color: rgb(202, 218, 233);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    height: 500px;
    min-width: 300px;
    max-width: 1600px;
}

@media (max-width: 1600px) {
    .left {
       overflow-y: scroll;
    }
}

* {
    box-sizing: border-box;
}

.skill-box {
    width: 100%;
    background-color: #ddd;
    border-radius: .50rem;
}
  
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: .50rem;
}
  
.java {width: 90%; background-color:rgb(156, 76, 19);}
.html {width: 80%; background-color: rgb(238, 48, 48);}
.css {width: 70%; background-color:rgb(92, 41, 143) }
.js {width: 65%; background-color: rgb(228, 214, 95);}
.php {width: 85%; background-color: rgb(154, 142, 230);}
.sql {width: 75%; background-color: rgb(223, 138, 53);}
.rdbms {width: 55%; background-color: aquamarine;}
.dsa {width: 80%; background-color: crimson;}
.cc {width: 40%; background-color: dodgerblue;}
.ai {width: 45%; background-color: plum;}

h1, h2, h3, h4 {
    padding-top: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.description {
    padding: 1em;
}

footer {
    text-align: center;
}

.foot-container {
    color: antiquewhite;
}
